@page
@model Areas.Oficios.Pages.DetallesModel

@{
    ViewData["Title"] = "Detalles del Oficio";
}
<div class="row">
    <h3>@Html.DisplayFor(model => model.Oficios.Numero) - @Html.DisplayFor(model => model.Oficios.Oficio)</h3>

    <hr />
    <p>
        @if (!Model.Oficios.Archivado)
        {
        <button data-bs-toggle="modal" data-bs-target="#modalTurnar" class="btn btn-primary my-2">Turnar a alguien</button>
        @if (Model.MiEstadoOficio == EstadoOficio.PendienteRecibir)
        {
            <button href="~/Oficios/Marcar?id=@Model.Oficios.Id&action=3" class="btn btn-success my-2">Aceptar turno</button>
        }
        @if (User.IsInRole("Supervisor"))
        {
            <button onclick="Marcar(@Model.Oficios.Id,5)" class="btn btn-dark my-2">Confirmar como contestado</button>
        }
        else
        {
            <button onclick="Marcar(@Model.Oficios.Id,4)" class="btn btn-info my-2">Marcar como contestado</button>
        }
        @if (User.IsInRole("Supervisor"))
        {
            <button onclick="Marcar(@Model.Oficios.Id,7)" class="btn btn-warning my-2">Archivar</button>        
        }
        }
        @if (User.IsInRole("AdministradorGeneral"))
        {            
            <button onclick="Marcar(@Model.Oficios.Id,9)" class="btn btn-danger my-2">Eliminar</button>
        }
    </p>
    <hr />
    <div class="col-6">
        @if (Model.Oficios.OficiosTermino != null)
        {
            @if (Model.Oficios.Archivado == false)
            {
            <h4>Tiene termino</h4>
            var timeSpan = Model.Oficios.OficiosTermino.Fecha - DateTime.Now.Date;
            var classL = "alert-warning";
            
                if (timeSpan.Days < 4)
                {
                    classL = "alert-danger";
                }
                <div class="alert @classL">Termino: @Model.Oficios.OficiosTermino.Fecha Fatan @timeSpan.Days Dias.</div>
                <hr />
            }
        }

        <h4>Generales</h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Oficios.Asunto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Oficios.Asunto)
            </dd>
            <dt class="col-sm-2">
                Departamento
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Oficios.IdDepartamentoNavigation.Nombre)
            </dd>
            <dt class="col-sm-2">
                Quien Emite
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Oficios.IdEmisorNavigation.Nombre)
            </dd>
            <dt class="col-sm-2">
                Recibió
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Oficios.IdReceptorNavigation.Nombre)
                @Model.Oficios.FechaRecepcion.ToString("g")
            </dd>
            <dt class="col-sm-2">
                Tipo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Oficios.IdTipoNavigation.Nombre)
            </dd>
        </dl>
    </div>
    <div class="col-6">
        <div class="row">
            @if (Model.Oficios.OficiosUsuarios.Any())
            {
                <h4>Usuarios que atienden este oficio</h4>
                <div class="list-group list-group-flush border-bottom scrollarea" id="ListaOficiosUsuarios">
                    @foreach (var estado in Model.Oficios.OficiosUsuarios)
                    {
                        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">@estado.IdUsuarioNavigation.Nombre</strong>
                            </div>
                        </a>
                    }
                </div>
                <hr />
            }
            <h4>Seguimiento</h4>
            <div class="list-group list-group-flush border-bottom scrollarea">
                @foreach (var estado in Model.Oficios.OficiosEstados.OrderBy(o => o.FechaHora))
                {
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">@estado.IdEstadoNavigation.Nombre</strong> @estado.IdUsuarioNavigation.Nombre
                            <small class="text-muted">@estado.FechaHora.ToString("g")</small>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-1 small" id="NotasDeEstado-@estado.Id">
                                @foreach (var nota in estado.OficiosEstadosNotas)
                                {
                                    <br />
                                    <strong>@nota.FechaHora.ToString("g")</strong>@nota.Nota
                                }
                            </div>
                        </div>
                        @if (!Model.Oficios.Archivado)
                        {
                            @if (estado.IdUsuario == @Model.SessionUser.IdUsuario)
                            {
                                <div class="row">                            
                                    <div class="col">
                                        <input class="form-control form-control-sm" placeholder="Agregar nota" id="TextoNotasDeEstado-@estado.Id" onkeyup="AnexarNota(event, @estado.Id);" />
                                    </div>
                                </div>
                            }
                    }
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <hr />
    <div class="col">
        <h4>Archivos</h4>
        @if (Model.Oficios.OficiosDocumentos.Any())
        {
            
        }
        else
        {
        <span class="text-muted">Sin archivos</span>        
        }
        <br />
        <form method="post" enctype="multipart/form-data" class="rows">
        <input class="form-control form-control-sm" type="file" id="subeArchivos" name="subeArchivos"  multiple />
        <input type="submit" value="adjuntar archivos" class="btn btn-sm btn-primary"  />
        <small>Solo se permiten archivos de word, excel y pdf.</small>
        </form>
    </div>
</div>
<div class="modal" tabindex="-1" id="modalTurnar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Turnar Oficio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    @foreach (var us in Model.Usuarios)
                    {
                        <a onclick="turnarOficio(@Model.Oficios.Id,@us.Id)" class="list-group-item list-group-item-action">@us.Nombre</a>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/oficios/detalles.js"></script>
