@page
@model GestionWeb.Areas_Oficios_Pages_fold.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].Oficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].Archivado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].FechaRecepcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].UltimoEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].IdDepartamentoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].IdEmisorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].IdReceptorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].IdTipoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficios[0].IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Oficios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archivado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRecepcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimoEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmisorNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdReceptorNavigation.AspNetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.AspNetId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
