@page
@model Areas.Oficios.Pages.DetallesModel

@{
    ViewData["Title"] = "Detalles del Oficio";
}
<div class="row">
    <h3>@Html.DisplayFor(model => model.Oficios.Numero) - @Html.DisplayFor(model => model.Oficios.Oficio)</h3>

    <hr />
    <h6>Acciones disponibles</h6>
    <p>

        @if (!Model.Oficios.Archivado)
        {
            @if (User.IsInRole("Supervisor"))
            {
                <a href="/Oficios/Editar?id=@Model.Oficios.Id" class="btn btn-success my-2">Editar</a>
            }
            @if (Model.MiEstadoOficio < EstadoOficio.EnviadoParaConfirmar)
            {
                <button data-bs-toggle="modal" data-bs-target="#modalTurnar" class="btn btn-primary my-2">Turnar a alguien</button>
            }

            @if (Model.MiEstadoOficio == EstadoOficio.PendienteRecibir)
            {
                <a href="/Oficios/Marcar?id=@Model.Oficios.Id&action=3" class="btn btn-success my-2">Aceptar Oficio</a>
            }
            @if (User.IsInRole("Supervisor"))
            {
                if (Model.MiEstadoOficio == EstadoOficio.EnviadoParaConfirmar)
                {
                    <a href="/Oficios/Marcar?id=@Model.Oficios.Id&action=5" class="btn btn-dark my-2">Confirmar como contestado</a>
                }
            }
            else
            {
                if (Model.MiEstadoOficio == EstadoOficio.EnMiPoder)
                {
                    <a href="/Oficios/Marcar?id=@Model.Oficios.Id&action=4" class="btn btn-info my-2">Marcar como contestado</a>
                }
            }
            @if (User.IsInRole("Supervisor"))
            {
                if (Model.MiEstadoOficio == EstadoOficio.Contestado)
                {
                    <a href="/Oficios/Marcar?id=@Model.Oficios.Id&action=7" class="btn btn-warning my-2">Archivar</a>
                }
            }
        }
        @if (User.IsInRole("AdministradorGeneral"))
        {
            <a href="/Oficios/Marcar?id=@Model.Oficios.Id&action=9" class="btn btn-danger my-2">Eliminar</a>
        }
    </p>
    <hr />
    <div class="col-6">
        @if (Model.Oficios.OficiosTermino != null)
        {
            @if (Model.Oficios.Archivado == false)
            {
                <h4>Tiene termino</h4>
                var timeSpan = Model.Oficios.OficiosTermino.Fecha - DateTime.Now.Date;
                var classL = "alert-warning";

                if (timeSpan.Days < 4)
                {
                    classL = "alert-danger";
                }
                <div class="alert @classL">Termino: @Model.Oficios.OficiosTermino.Fecha Fatan @timeSpan.Days Dias.</div>
                <hr />
            }
        }
        <div class="card text-white bg-primary " style="width: 25rem;">
            <div class="card-header">
                Último Estatus
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.MiEstadoOficio == EstadoOficio.EnviadoParaConfirmar)
                {
                    <li class="list-group-item">🙈 Contestado, Enviado para confirmación</li>
                }
                else if (Model.MiEstadoOficio == EstadoOficio.NoEsMio)
                {
                    <li class="list-group-item">🙈 Pendiente de Recibir</li>
                }
                else
                {
                    <li class="list-group-item"> @Model.MiEstadoOficio</li>
                }
            </ul>
        </div>
        <hr>
        <div class="card mb-2">
            <div class="card-header">
                Datos Generales
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Asunto</td>
                            <td> @Model.Oficios.Asunto</td>
                        </tr>
                        <tr>
                            <td>Departamento</td>
                            <td> @Model.Oficios.IdDepartamentoNavigation.Nombre</td>
                        </tr>
                        <tr>
                            <td>Quien Emite</td>
                            <td>@Model.Oficios.IdEmisorNavigation.Nombre</td>
                        </tr>
                        <tr class="table-info">
                            <td>Recibió</td>
                            <td>
                                @Model.Oficios.IdReceptorNavigation.Nombre
                                @Model.Oficios.FechaRecepcion.ToString("g")
                            </td>
                        </tr>
                        <tr>
                            <td>Tipo</td>
                            <td>@Model.Oficios.IdTipoNavigation.Nombre</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        @if (Model.Oficios.OficiosUsuarios.Any())
        {
            <div class="card text-dark bg-info" style="width: 40rem;">
                <div class="card-header">
                    Usuarios que tienen turnado este oficio
                </div>
                <ul class="list-group list-group-flush" id="ListaOficiosUsuarios">
                    @foreach (var estado in Model.Oficios.OficiosUsuarios)
                    {
                        <li class="list-group-item">🙋 @estado.IdUsuarioNavigation.Nombre</li>
                    }
                </ul>
            </div>
            <hr />
        }

        <div class="card text-dark bg-info">
            <div class="card-header">
                Historial / Seguimiento
            </div>
            <div class="list-group list-group-flush border-bottom scrollarea">
                @foreach (var estado in Model.Oficios.OficiosEstados.OrderBy(o => o.Id))
                {
                    if (estado.IdEstado != EstadoOficio.Capturado)
                    {
                        <div class="list-group-item list-group-item-action py-2 lh-tight">
                            <div class="d-flex w-100 justify-content-between">
                                <strong class="mb-1">@estado.IdEstadoNavigation.Nombre</strong>
                                <small class="text-muted">@estado.FechaHora.ToString("g")</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <i>@estado.IdUsuarioNavigation.Nombre</i>
                            </div>
                            <div class="row">
                                <div class="col" id="NotasDeEstado-@estado.Id">
                                    @foreach (var nota in estado.OficiosEstadosNotas)
                                    {
                                        <a href="#" class="list-group-item"><strong>@nota.FechaHora.ToString("g")</strong> @nota.Nota</a>
                                    }
                                </div>
                            </div>
                            @if (!Model.Oficios.Archivado)
                            {
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-sm" placeholder="Agregar nota" id="TextoNotasDeEstado-@estado.Id" onkeyup="AnexarNota(event, @estado.Id);" />
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <hr />
    <div class="col">
        <h4>Archivos</h4>
        @if (Model.Oficios.OficiosDocumentos.Any())
        {

        }
        else
        {
            <span class="text-muted">Sin archivos</span>
        }
        <br />
        <form method="post" enctype="multipart/form-data" class="rows">
            <input class="form-control form-control-sm" type="file" id="subeArchivos" name="subeArchivos" multiple />
            <input type="submit" value="adjuntar archivos" class="btn btn-sm btn-primary" />
            <small>Solo se permiten archivos de word, excel y pdf.</small>
        </form>
    </div>
</div>
<div class="modal" tabindex="-1" id="modalTurnar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Turnar Oficio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    @foreach (var us in Model.Usuarios)
                    {
                        <a onclick="turnarOficio(@Model.Oficios.Id,@us.Id)" class="list-group-item list-group-item-action">@us.Nombre</a>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="modalArchivar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seleccione el archivero/cajon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @foreach (var archivero in Model.Archiveros)
                {
                    <div class="fw-bold">@archivero.Nombre</div>
                    <div class="list-group">
                        @foreach (var caja in archivero.Cajon)
                        {
                            <a onclick="archivarOficio(@caja.Id)" class="list-group-item list-group-item-action">@caja.Nombre</a>
                        }
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/oficios/detalles.js"></script>
<script src="~/js/oficios/oficiospendientes.js"></script>
