@page
@model GestionWeb.Areas.Oficios.Pages.ListaModel
@{
    ViewData["Title"] = "Lista de Oficios";
}

<div class="row">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-auto">
        @if (!Model.MostrarArchivados)
        {
            <a class="btn btn-danger" href="~/oficios/Lista?id=99">Mostrar los documentos archivados</a>
        }
        else
        {
            <a class="btn btn-success" href="~/oficios/Lista">Mostrar los documentos sin archivar</a>
        }
    </div>
</div>

<div class="row mb-2">
    <hr />
    <div class="col">
        <div class="input-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Todos los receptores
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Todos los receptores</a></li>
                @foreach (var r in Model.Receptores)
                {
                    <li><a class="dropdown-item" href="#">@r.Nombre</a></li>
                }
            </ul>
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Todos los tipos
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Todos los tipos</a></li>
                @foreach (var t in Model.Tipos)
                {
                    <li><a class="dropdown-item" href="#">@t.Nombre</a></li>

                }
            </ul>
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                todos los terminos
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">todos los terminos</a></li>
                <li><a class="dropdown-item" href="#">Con termino</a></li>
                <li><a class="dropdown-item" href="#">Sin termino</a></li>
            </ul>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar oficio" />
            <button type="button" class="btn btn-primary">
                Buscar
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-sm">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Oficio</th>
                        <th scope="col">Recibido</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Asunto</th>
                        <th scope="col">...</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oficio in Model.Oficios)
                    {
                        <tr>
                            <th scope="row">@oficio.Numero</th>
                            <td>@oficio.Oficio</td>
                            <td>@oficio.FechaRecepcion</td>
                            <td>
                                @oficio.IdTipoNavigation.Nombre -
                                @oficio.IdEmisorNavigation.Nombre
                            </td>
                            <td>@oficio.Asunto</td>
                            <td><a href="~/oficios/detalles?id=@oficio.Id" class="btn btn-primary">Detalles</a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>